* {
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#logo {
    margin-left: 2%;
    margin-right: 2%;
}


#carouselExampleControls {
    box-sizing: border-box;
    padding-left: 190px;
}

#footer {
    width: 95%;
    margin: auto;
}

#footer_main {

    display: flex;
    margin: auto;
    justify-content: space-between;
    padding: 40px;

}

.footer-h6 {

    letter-spacing: 2.8px;
    line-height: 18px;
    font-size: 15.4px;
    padding-bottom: 2%;
}

.footer-p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 0.5px;
    line-height: 23.8px;
    font-size: 14px;
    font-weight: 600;
    color: #7f7f7f;
    margin-bottom: -1%;

}

.footer-p:hover {
    cursor: pointer;
    text-decoration-line: underline;
}

#lower_footer {
    display: flex;
    justify-content: space-around;

}

#lower_footer_div1 {
    display: flex;
    height: 50px;
    width: 90%;

}

#lower_footer_div2 {
    width: 25%;
    cursor: pointer;
}

.footer_img {

    height: 40px;
    cursor: pointer;
}

.footer_p {
    margin-top: 1%;
    margin-left: 1%;
    font-size: 13px;
    font-weight: 600;
}

#submit {
    height: 40px;
    width: 100%;
    font-weight: 600;
    border: 0.5px solid black;
}

#submit:hover {
    background-color: black;
    color: white;
}

#featured {

    text-align: center;
    margin-top: 3%;
}

.headline {
    font-size: 23.94PX;
    line-height: 40px;
    letter-spacing: 0.5px;
    text-align: center;
}

#featured p {
    color: #6c757d;
    font-size: 20PX;
    line-height: 30px;
    letter-spacing: 0.5px;
}

#featured~div {

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    width: 75%;
    margin: auto;
    gap: 5px;
}

#featured~div img {
    height: 139.92px;
    width: 90%;
    cursor: pointer;
}

#special {
    width: 75%;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    gap: 10px;
    /* border: 1px solid red; */
}

#special>div img {
    height: 440px;
    width: 100%;
    padding: 0px 20px;
}

#special>div {
    text-align: center;
}

#gucci {
    width: 40%;
}

#special>div button {
    border: 0.2px solid black;
    background-color: white;
    height: 40px;
    width: 32%;

}

#special>div button:hover {
    background-color: black;
    color: white;
}

#special~div {
    margin-top: 2%;
    text-align: center;
    margin-right: 1%;
}

#special>div>div {
    margin-top: 5%;
}

#special>div>div>h5 {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    Color: #1c1c1c
}

#special>div>div>p {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    Color: #1c1c1c
}

#special~div button {
    border: 0.2px solid black;
    background-color: white;
    height: 40px;
    width: 8%;
}

#special~div button:hover {
    background-color: black;
    color: white;
}

#special_offers {
    text-align: center;
    margin-bottom: 1%;

}

#special_offers>h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    Color: #1c1c1c
}

#trending_flex {
    display: flex;
    height: 400px;
    width: 75%;
    margin: auto;
    gap: 10px;
}

#trending_flex>div {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin: auto;
    text-align: center;
    height: 400px;
    width: 80%;
    cursor: pointer;

}

#trending_flex>div>img {
    height: 200px;
    width: 75%;
    margin-top: 5%;
}

.trending_p {
    font-weight: 600;
    font-size: 14x;
    line-height: 18px;
    Color: #1c1c1c
}

.tending-p {
    font-weight: 600;
    font-size: 11px;
    line-height: 18px;
    Color: #8e8e8e
}

#trending_flex>div>div {
    text-align: right;
    margin-right: 5%;
}

#trending_flex~div button {
    border: 0.2px solid black;
    background-color: white;
    height: 40px;
    width: 15%;
}

#trending_flex~div button:hover {
    background-color: black;
    color: white;
}

#trending_flex~div {
    margin-top: 2%;
    margin-left: 46%;
}

#community~div {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: auto;
    gap: 20px;
}

#community~div img {
    height: 300px;
    width: 100%;
}

#community~div~div button {
    border: 0.2px solid black;
    background-color: white;
    height: 40px;
    width: 10%;
    margin-left: 47%;
    margin-top: 2%;
}

#community~div~div button:hover {
    background-color: black;
    color: white;
}

#last-div {
    background-color: #f8f7f6;
}

#last_div {

    justify-content: space-around;
    display: flex;
    width: 75%;
    margin: auto;
    margin-top: 3%;
}

#last_div>div {
    text-align: center;
    padding: 30px;
}

.button>button {
    border: 0.5px solid black;
    background-color: black;
    color: white;
    height: 40px;
    margin-bottom: 5%;
    margin-top: 10%;
}

#mobile {
    height: 400px;
    width: 65%;
}

#last_div>div>p {
    line-height: 21px;
    letter-spacing: 0.5px;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: -1%;
}

#last_div_img {
    margin-top: -10%;
}