* {
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#logo {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: -18%;
}   


#carouselExampleControls {
    box-sizing: border-box;
    padding-left: 190px;
}

#footer {
    width: 95%;
    margin: auto;
}

#footer_main {

    display: flex;
    margin: auto;
    justify-content: space-between;
    padding: 40px;

}

.footer-h6 {

    letter-spacing: 2.8px;
    line-height: 18px;
    font-size: 15.4px;
    padding-bottom: 2%;
}

.footer-p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 0.5px;
    line-height: 23.8px;
    font-size: 14px;
    font-weight: 600;
    color: #7f7f7f;
    margin-bottom: -1%;

}

.footer-p:hover {
    cursor: pointer;
    text-decoration-line: underline;
}

#lower_footer {
    display: flex;
    justify-content: space-around;

}

#lower_footer_div1 {
    display: flex;
    height: 50px;
    width: 90%;

}

#lower_footer_div2 {
    width: 25%;
    cursor: pointer;
}

.footer_img {

    height: 40px;
    cursor: pointer;
}

.footer_p {
    margin-top: 1%;
    margin-left: 1%;
    font-size: 13px;
    font-weight: 600;
}
#submit {
    height: 40px;
    width: 100%;
    font-weight: 600;
    border: 0.5px solid black;
}

#submit:hover {
    background-color: black;
    color: white;
}
#container{
    width: 75%;
    margin: auto;
}
#div{
    display: flex;
    height: 400px;
    width: 80%;
    margin: auto;
    margin-top: 2%;

}
#div_left{
  
    width: 50%;
    margin-right: 10%;
}
#div_left > img{
    height: 350px;
   margin-bottom: 5%;
}
#div_right{
    margin: 30px;
    
}

#div_lowerImg{
    display: flex;
    justify-content: space-between;
}
#div_price{
    display: flex;
    gap: 10px;
}
#div_size{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
#div_price > p{
    color:  #8e8e8e ;
    font-weight: 600;
}
#guide{
    color:  #8e8e8e ;
    font-weight: 600;
    cursor: pointer;
}
#store{
    text-decoration: underline;
    font-weight: 600;
    cursor: pointer;
}
#dis{
    font-weight: 600;
}